<div class="container">
  <div class="row">
    <div class= "col-md-3">
      <%= render 'list', book: Book.new, user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                <p><%= link_to @book.user.name, user_path(@book.user.id) %></p>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <td id="favorite_btn_<%= @book.id %>">
                <%= render 'favorites/favorite-btn', book: @book %>
              </td>
              <td>コメント件数：<%= @book.book_comments.count %></td>

              <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success edit_book_92220" %></td>
                <td><%= link_to "Destroy", book_path, method: :delete, class:"btn btn-sm btn-danger destroy_book_92220" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <h6>【コメント】</h6>
        <div id="book_comments">
          <%= render 'book_comments/book_comments', book: @book %>
        </div>
        <div id="book_comment_form">
          <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
        </div>
    </div>
  </div>
</div>